/* reset and base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}

/* header */

#header__background{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-color: #111;
    padding: 32px 48px;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #00fff7;
    text-shadow: 0 0 10px #00fff7;

}

 .header__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 54px;
 }

header h1,
.search__bar {
    z-index: 1;

}


.logo {
    font-size: 60px;
    font-weight: bold;
    color: #00fff7;
    text-shadow: 0 0 10px #00fff7;
    margin: 0 0 16px 0;
    padding-bottom: 100px;
}

.logo__img {
    height: 250px;
    padding: 20px 16px;
    
    width: auto;
    flex-shrink: 1;
    /* opacity: 0.6; */

}

.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 36px;

}

.search__bar input {
    padding: 12px;
    border: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size: 16px;
}

.search__bar button {
    padding: 12px 14px;
    border: none;
    background: #00fff7;
    color: #000;
    border-radius: 0 50px 50px 0;
    font-weight: bold;
    cursor: pointer;
    transition: background 300ms ease;
}

.show__more__container {
    display: flex;
    justify-content: center;
    margin: 24px 0;

}

#showMoreBtn {
    padding: 8px 16px;
    border: none;
    background: #00fff7;
    color: #000;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background 300ms ease;

}

#showMoreBtn:hover {
    background: #00c1b1;

}

.movie__btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search__bar button:hover {
    background: #00c1b1;
}

/* hero section */

.hero {
    text-align: center;
    padding: 48px 32px;
    background: linear-gradient(to right, #0f0f0f, #1c1c1c);
}


.hero h1 {
    font-size: 40px;
    color: #00fff7;
    margin-bottom: 16px;
    text-shadow: 0 0 10px #00fff7;
}

.hero p {
    font-size: 20px;
    color: #aaa;
}

/* trending movies */

.trending h2 {
    font-size: 44px;
    margin-bottom: 16px;
    color: #00fff7;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 10px #00fff7;

}

.movies__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

/* loading state */

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease;
    z-index: 10005;
    background-color: rgba(0, 0, 0, 0.95);

}


.loader {
    border: 8px solid #222;
    border-top: 8px solid #00fff7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 15px #0ff;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);


}



.hidden {
    display: none !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.85); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    transition: opacity 300ms ease;
}

.modal__content {
    background: #111;
    padding: 32px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    color: #fff;
    position: relative;
    box-shadow: 0 0 30px #0fff;
    animation: fadeIn 300ms ease-in-out;
}

.close {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
    color: #0ff;
    transition: transform 200ms ease;
}

.close:hover {
    transform: scale(1.2);
    color: #fff;
}

#close__modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.98);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}



/* movie card */

.movie__card {
    background-color: #1a1a1a;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    color: #fff;
    width: 200px;
    transition: transform 300ms ease, box-shadow 300ms ease;
    box-shadow: 0 0 15px rgba(0, 255, 247, 0.1);
    cursor: pointer;
    transition: transform 300ms ease;
}

.movie__card:hover {
    transform: scale(1.05);
}

.movie__card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.movie__card h3 {
    margin-top: 8px;
    font-size: 16px;
}

.movie__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 36px;
}


/* footer */

footer {
    background: rgba(20, 20, 30, 0.95);
    color: #ffffffcc;
    text-align: center;
    padding: 16px 32px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14.5px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -2px 10px rgba(0, 255, 255, 0.2);
    margin-top: 32px;
    opacity: 0;
    animation: fadeInFooter 1.5s ease forwards;
}

footer p {
    margin: 0;
    letter-spacing: 1px;
    color: #00ffffc7;
}

/* social links */

.social__links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;

}

.social__links a {
    text-decoration: none;
    margin: 0 8px;
    color: #00ffffc0;
    font-size: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 300ms ease, box-shadow 300ms ease;
    text-shadow: 0 0 5px #00ffff;
}

.social__links a:hover {
    transform: scale(1.2);
    color: #0ff;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

@keyframes fadeInFooter {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* responsive */

@media(max-width:768px) {
    .search__bar input {
        width: 140px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .movies__container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 16px 4vw;
    }

    .header__center {
        width: 100%;
        align-items: center;
    }

    .logo__img {
        margin: 0 0 16px 0;
        height: 60px;
        padding: 8px 0;
        max-width: 80vw;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 8px;
        padding-bottom: 0;
    }

    .search__bar {
        flex-direction: row;
        width: 100%;
        padding-bottom: 12px;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .search__bar input {
        width: 70vw;
        font-size: 16px;
        margin-bottom: 0;
    }

    .search__bar button {
        width: auto;
        font-size: 16px;
        margin-bottom: 0;
        padding: 8px 14px;
    }

    .movie__grid {
        flex-direction: column;
        padding: 8px;
        gap: 12px;
    }

    .movie__card {
        width: 90vw;
        padding: 8px;
    }

    .trending h2 {
        font-size: 24px;
    }

    
}


@media(max-width: 600px) {
    footer {
        font-size: 12.8px;
        padding: 16px;
    }

    header {
        padding: 24px 12px;
    }

    #header__background {
        height: 80px;
        padding: 0 12px;
    }

    .social__links a {
        font-size: 20px;
    }
}


@media(max-width: 480px){
    header {
        padding: 8px 2vw;
    }

    .logo__img {
        height: 36px;
    }

    .logo {
        font-size: 16px;
    }

    .search__bar input {
        font-size: 14px;
        padding: 8px 0;
    }

    .search__bar button {
        font-size: 16px;
        padding: 8px 0;
    }

    .movie__card h3 {
        font-size: 16px;
    }

    .modal__content {
        padding: 12px;
        font-size: 14px;
    }

    .footer {
        font-size: 11px;
        padding: 8px 4px;
    }

    .social__links {
        flex-direction: column;
        gap: 8px;
    }
}